.top-products {
    padding:15px;
    border: 1px solid gray;
}

.view-product {
    font-size:15px;
}

.product img {
    padding:15px;
    max-width: 200px;
    max-height: 200px;
}

h1, h2 {
    color:white;
}

.about {
    color:black;
}

.mobileShow {
    display: none;
}


/* Smartphone Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mobileShow {
        display: inline;
    }
}


h1 {
    color: #585858;
}

li:nth-child(odd){
    background-color: #f9f9f9
}

a.btn.btn-success.btn-block.addItem {
    color: white;
}

.sweets {
    width:164px;
}

footer img {
    height: 25px;
    margin-right: 5px;
}

.advertising img {
    height: 130px;
    padding-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social img {
    height: 30px;
}
.social {
    display: block;
    text-align: center;
}

.secret-code {
    content: "secrect code: b5b395d5";
}